.app-footer {
    background-color: var(--clr1);
    color: var(--clr2bg-light);
    padding: 10px 0px;
}

.footer-container {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.footer-container h1 {
    flex-grow: 1;
}

.app-nav {
    display: flex;
    gap: 15px;
}

a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}

@media (max-width: 720px) {
    .app-footer {
        color: var(--clr2bg-light);
    }
}
